/* add some basic style here */
body{
    font-family: Helvetica, Arial, sans-serif;
    background-color: white;
}

header{
    color:darkcyan;
}

.highlight{
    color:lightslategray;
}

.sub-highlight{
    color:grey;
}

main p{
    line-height: 1.5;
}